.form_style #contentText {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}
.form_style #FormSubmit {
    display: block;
    background: #6C93AD;
    border: 1px solid #4B6170;
    color: #FFFFFF;
    margin-top: 5px;
    padding: 6px 9px 6px 9px;
    border-radius: 5px;
}
#responds{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#responds li {
    list-style: none;
    padding: 15px;
    background: rgb(221, 240, 255);
    margin-bottom: 5px;
    border-radius: 5px;
    max-width: 400px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
}
#responds li.sel {
    background: rgb(255, 221, 221);
}
.del_wrapper{float:right;}
.content_wrapper {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}


body {
    color:#333;
    text-align:center;
    font-family: arial;
    background:#121212;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    //color:#fff;
    overflow-x:hidden;
}


.nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav li {
    float: right;
    width: 160px;
    position: relative;
}
.nav li a {
    background: #333;
    color: #fff;
    display: block;
    padding: 7px 8px;
    text-decoration: none;
    border-top: 1px solid #069;
}

.nav li a:hover {
    color: #069;
}
.nav ul {
    display: none;
    position: absolute;
    margin-left: 0px;
    list-style: none;
    padding: 0px;
}

.nav ul li {
    width: 160px;
    float: left;
}

.nav ul a {
    display: block;
    height: 15px;
    padding: 7px 8px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #222;
}
.nav ul li a:hover {
    color: #069;
}
