body {
  color:#333;
  text-align:center;
  font-family: arial;
  background:#121212;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#fff;
	overflow-x:hidden;
}
header {
    border-bottom: 2px solid black;
    padding: .5em 0;
}
#header
{
    //background:#00a2d1;
    width:100%;
    height:50px;
    color:#fff;
    font-size:36px;
    font-family:Verdana, Geneva, sans-serif;
}
td, th 
{
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    text-align: left;
}
.nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.nav li {
	float: right;
	width: 160px;
	position: relative;
}
.nav li a {
	background: #333;
	color: #fff;
	display: block;
	padding: 7px 8px;
	text-decoration: none;
	border-top: 1px solid #069;
}

.nav li a:hover {
	color: #069;
}
.nav ul {
	display: none;
	position: absolute;
	margin-left: 0px;
	list-style: none;
	padding: 0px;
}

.nav ul li {
	width: 160px;
	float: left;
}

.nav ul a {
	display: block;
	height: 15px;
	padding: 7px 8px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #222;
}
.nav ul li a:hover {
	color: #069;
}
