body {
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;


    text-align:center;
    font-family: arial;
    background:#121212;
    color:#fff;
    overflow-x:hidden;
}


code {
    background-color: ghostWhite;
    border: 1px solid #DEDEDE;
    color: #444;
    padding: 0 3px;
}

label {
    width: 100px;
    float:left;
    text-align:right;
    margin:4px 10px 0 0;
}

label#geo_label
{
    width: auto;
    float: none;
}

p {
    float:left;
    width: 100%;
}
.gist {
    margin-top: 10px;
    font-size: 12px;
}

.ui-autocomplete-input, .input input {
    border: none; 
    font-size: 14px;
    width: 300px;
    height: 24px;
    margin-bottom: 5px;
    padding-top: 2px;
}

.ui-autocomplete-input {
    border: 1px solid #DDD !important;
    padding-top: 0px !important;
}

.map-wrapper
{
    float:left;  
    margin: 0 10px 0 10px;
}

#map {
    border: 1px solid #DDD; 
    width:300px;
    height: 300px;
    margin: 10px 0 10px 0;
    -webkit-box-shadow: #AAA 0px 0px 15px;
}

#legend {
    font-size: 12px;
    font-style: italic;
}

.ui-menu .ui-menu-item a {
    font-size: 12px;
}

.input {
    float:left;  
}

.input-positioned
{
    padding: 35px 0 0 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

* html .clearfix {
    height: 1%;
}

.nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav li {
    float: right;
    width: 160px;
    position: relative;
}
.nav li a {
    background: #333;
    color: #fff;
    display: block;
    padding: 7px 8px;
    text-decoration: none;
    border-top: 1px solid #069;
}

.nav li a:hover {
    color: #069;
}
.nav ul {
    display: none;
    position: absolute;
    margin-left: 0px;
    list-style: none;
    padding: 0px;
}

.nav ul li {
    width: 160px;
    float: left;
}

.nav ul a {
    display: block;
    height: 15px;
    padding: 7px 8px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #222;
}
.nav ul li a:hover {
    color: #069;
}
